/* Reset some default styles */
:root {
  --bg-colour: #A3D5FF;
  --text-colour: #0a195b;
  --border-colour: #D9F0FF;
  --side-bg-colour: #83C9F4;
  --input-bg-colour: #D9F0FF;
}

.App {
  text-align: center;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  position: absolute;
  /*height:100%;*/
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
}

.side-menu{
  width: 260px;
  background-color: var(--side-bg-colour);
  height: 100%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 36px 12px 12px;
}
.new-patient-button{
  padding: 24px 12px 24px 36px;
  margin: 0 6px 24px 6px;
  position: sticky;
  top: 0; left:0;
  border: 1px solid var(--border-colour);
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.25s ease all;
}
.new-patient-button:hover{
  background-color: rgba(217, 240, 255, 0.5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.new-patient-button span{
  padding-left: 12px;
  padding-right: 24px;
  font-size: 1em;
  font-weight: bold;
}
.patient-list{
  display: block;
  overflow-y: auto;
}
.patient-tab{
  padding: 24px;
  margin: 12px 6px 12px;
  transition: 0.25s ease all;
  border: 1px none var(--border-colour);
  border-radius: 12px;
}
.patient-tab:nth-child(even) {
  background-color: rgba(217, 240, 255, 0.2);
}
.patient-tab:hover{
  background-color: rgba(217, 240, 255, 0.6);
}


.chat-area{
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-rows:
    [top] 5rem auto 5rem [bottom];
  grid-template-areas:
    "head"
    "chatlog"
    "foot";
}
.chat-area>h1{
  grid-area: head;
}
.chat-log{
  grid-area: chatlog;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat-input-holder{
  grid-area:foot;
}
.chat-input-textarea{
  background-color: var(--input-bg-colour);
  width: 90%;
  padding: 12px;
  border-radius: 16px;
  border: none;
  outline: none;
  margin: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.0em;
}


.chat-message-element{
  /*background-color: rgba(255, 255, 255, 0.2);*/
  display: block;
  /*flex-direction: column;*/
}

.chat-message-element.model{
  background-color: rgba(255, 255, 255, 0.2);
}

.chat-message-element-center{
  display: flex;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.chat-message-avatar{
  background-color: var(--input-bg-colour);
  border-radius: 25%;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-message-avatar.model{
  background-color: var(--side-bg-colour);
}


.chat-message-text{
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}